EXPO_PUBLIC_FIREBASE_API_KEY=
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN="ucl-net-prod.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID="ucl-net-prod"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET="ucl-net-prod.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="396142769188"
EXPO_PUBLIC_FIREBASE_APP_ID="1:396142769188:web:38ded7e2593fe19df694b1"
EXPO_PUBLIC_API_URL="https://asia-south1-ucl-net-prod.cloudfunctions.net/api"
